<div class="row">
    <div class="col-md-offset-1 col-md-5">
        <form role="form">
            <div class="form-group">
                <label for="title">Title of Todo</label>
                {{input type="text" class="form-control" placeholder="Enter a title for this todo" value=model.title}}
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                {{textarea value=model.desc class="form-control" placeholder="Enter a suitable description for this todo"}}
            </div>
            <div class="form-group">
                <button class="btn btn-success" {{action "saveChanges" model}}>Save Changes</button>
            </div>
        </form>
        {{#if response}}
            <div class="alert alert-success">
                Todo Created
            </div>
        {{/if}}
    </div>
    <div class="col-md-5 col-md-offset-1">
        <h3>Preview</h3>
        <div class="panel panel-primary">
            <div class="panel-heading todo-title">
                <span>
                    <strong>Title: <em>{{model.title}}</em></strong>
                </span>
            </div>
            <div class="panel-body todo-body">
                <strong>Description:</strong><br>{{model.desc}}
            </div>
            
        </div>
    </div>
</div>